<div>
	
	<h3>Optimized Cutting Pattern</h3>

	<p>Total </p>
	<!--
	//total length of cuts
	//total number of boards
	//total length of waste

	-->
	{{solution}}
	
	<!--
	-ng repeat for each board
		-within that, ng-repeat for each cut
	-->
	
	<div id="boardsContainer" class="boards-container">
		<div ng-repeat="board in boards" class="clear-after">

			<p>Testing</p>

			<div class="cut-board" ng-repeat="cut in board.cuts" ng-style="getStyle(board,cut)">{{cut}}</div>
			<div class="extra-board" ng-style="getStyle(board,board.spaceLeft,true)"/>
		</div>
	
	</div>
	
	
</div>