
.length-input{
	width:3em; 
}

body{
	margin-left:5%;	
	margin-bottom:20px;
	margin-right:5%;
}

.error-message{
	color:red;
	font-weight:bold;
}

.cut-lengths-desc{
	margin-top:2em;	
}
.label-margin{
	margin-left:.5em;
}
.indent-1{
	text-indent:1em;
}
.clear-after{
	clear:left;
}
.boards-container{
	width:50%;
	min-width:600px;
}
.calcuation-error{
	color:red;	
}

.wood-grain{
	background: url('../img/wood.jpg');
	background-size: 100% auto;
    height:100px;
    width:100%;
}